@property --percentage-break-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --percentage-break-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%;
}

.bento-button-bg {
  transition: --percentage-break-1 0.3s ease-in-out, --percentage-break-2 0.3s ease-in-out;
  background: linear-gradient(
    120deg,
    var(--color-green-500) 0%,
    var(--color-green-500) var(--percentage-break-1),
    var(--color-card) var(--percentage-break-2), 
    var(--color-card) 100%
  )
}

.bento-button-bg:hover {
  --percentage-break-1: 50%;
  --percentage-break-2: 51%;
}