.background-mountain {
  width: 100%;
  height: 100%;
  background-image: url(/asset/background.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
  box-shadow: 8px 10px 12px rgba(14, 33, 75, .5);
}

.foreground-mountain {
  width: 100%;
  height: 100%;
  background-image: url(/asset/foreground.png);
  background-size: cover;
  background-position: center;
  filter: brightness(55%);
  z-index: 1;
  box-shadow: 8px 10px 12px rgba(14, 33, 75, .5);
  animation: change-opacity 0.5s linear forwards;
  animation-delay: 2.3s; /* This is based on duration of fade in, in WelcomeText.css */
}

@keyframes change-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.section {
  width: 100%;
  padding-block: calc(var(--spacing) * 16);
  padding-inline: calc(var(--spacing) * 8);
}
